$window-background-color: #ffffff !default;
$window-border-radius: 0 0 0 0 !default;
$window-border-width: 0px !default;
$window-padding: 15px 15px 5px 15px !default;
$window-header-padding: 8px !default;
$window-header-background-color: #424242 !default;
$window-header-color: #ffffff !default;