sencha.cfg
.DS_Store
build
*/.DS_Store
production/*

# for browser disable security
BrowserMetrics-spare.pma
Local State
ZxcvbnData
UrlParamClassifications
Subresource Filter
SSLErrorAssistant
SafetyTips
pnacl
PKIMetadata
OriginTrials
OptimizationHints
OnDeviceHeadSuggestModel
AutofillStates
CertificateRevocation
ClientSidePhishing
Crowd Deny
Default
DesktopSHaringHub
FileTypePolicies
FirstPartySetsPreloaded
Safe Browsing
chrome_shutdown_ms.txt
Variations
libs/errors-on-api.php.txt
