$tab-base-color: #f8f8f8 !default;
$tab-border-radius: 0 0 0 0 !default;
$tab-color: #333 !default;
$tab-color-over: #f60 !default;
$tab-base-color-over: $tab-base-color !default;
$tab-font-weight: normal !default;

$tab-base-color-active: #ffffff !default;
$tab-border-color-active: $panel-border-color !default;
$tab-color-active: #f60 !default;
$tab-border-width-active: 0 1px 1px!default;