$panel-border-color: #ccc !default;
$panel-border-width: 1px !default;
$panel-header-background-color: #f8f8f8 !default;
$panel-header-border-color:$panel-border-color !default;
$panel-header-color: #333 !default;