table.pros {
    color: #333;
    padding: 10px;
}

table.pros td{
    padding: 3px 5px;
    white-space:nowrap;
}

#userInfo>a:link {
 color: #675c4c;
 font-family: 黑体;
 text-decoration: none
}
#userInfo>a:visited {
 color: #675c4c;
 font-family: 黑体;
 text-decoration: none
}
#userInfo>a:hover {
 color: #675c4c;
 font-family: 黑体;
 text-decoration: underline;
}
#userInfo>a:active {
 color: #675c4c;
 font-family: 黑体;
 text-decoration: underline;
}

#userInfo {
	padding: 2px;
}

#userInfo span {
	font-family: 微软雅黑;
	margin: 0 4px 0 0;
}

#checkFeedback, #analysisChart {
  float: right;
  margin-right: 2px;
}

#gridpanel-bulletin .x-grid-cell-inner {
	font-family: 黑体;
  line-height: 22px;
	font-size: 20px;
	white-space: normal;
  word-wrap: break-word;
}

#gridpanel-projectProgress .x-grid-cell-inner, #gridpanel-logDetail .x-grid-cell-inner, 
#gridpanel-logDetailByUser .x-grid-cell-inner, #gridpanel-businessInfo .x-grid-cell-inner, 
#gridpanel-historyBusinessDetail .x-grid-cell-inner, #gridpanel-scrutinizeForCheckLog .x-grid-cell-inner, 
#gridpanel-scrutinize .x-grid-cell-inner, #gridpanel-checkFeedback .x-grid-cell-inner, 
#gridpanel-myTaskScrutinizeContent .x-grid-cell-inner, #gridpanel-scrutinizeForCheckTask .x-grid-cell-inner, 
#gridpanel-message .x-grid-cell-inner, #gridpanel-mainMaterialContent .x-grid-cell-inner, 
.gridpanel-budgetContent .x-grid-cell-inner{
  white-space: normal;
  word-wrap: break-word;
}

#chartContainer {
  min-width: 310px; 
  height: 400px; 
  max-width: 600px; 
  margin: 0 auto;
}

.pointerCursor {
  cursor: pointer;
}

#treepanel-generalList .x-tree-node-text {
  font-size: 13px;
  font-family: 微软雅黑;
}