table.pros {
    color: #333;
    padding: 10px;
}

table.pros td{
    padding: 3px 5px;
    white-space:nowrap;
}

#userInfo>a:link {
 color: #675c4c;
 font-family: 黑体;
 text-decoration: none
}
#userInfo>a:visited {
 color: #675c4c;
 font-family: 黑体;
 text-decoration: none
}
#userInfo>a:hover {
 color: #675c4c;
 font-family: 黑体;
 text-decoration: underline;
}
#userInfo>a:active {
 color: #675c4c;
 font-family: 黑体;
 text-decoration: underline;
}

#userInfo {
	padding: 2px;
}

#userInfo span {
	font-family: 微软雅黑;
	margin: 0 4px 0 0;
}

#checkFeedback, #analysisChart {
  float: right;
  margin-right: 2px;
}

#gridpanel-bulletin .x-grid-cell-inner {
	font-family: 黑体;
  line-height: 22px;
	font-size: 20px;
	white-space: normal;
  word-wrap: break-word;
}

#gridpanel-projectProgress .x-grid-cell-inner, #gridpanel-logDetail .x-grid-cell-inner, 
#gridpanel-logDetailByUser .x-grid-cell-inner, #gridpanel-businessInfo .x-grid-cell-inner, 
#gridpanel-historyBusinessDetail .x-grid-cell-inner, #gridpanel-scrutinizeForCheckLog .x-grid-cell-inner, 
#gridpanel-scrutinize .x-grid-cell-inner, #gridpanel-checkFeedback .x-grid-cell-inner, 
#gridpanel-myTaskScrutinizeContent .x-grid-cell-inner, #gridpanel-scrutinizeForCheckTask .x-grid-cell-inner, 
#gridpanel-message .x-grid-cell-inner, #gridpanel-mainMaterialContent .x-grid-cell-inner, 
.gridpanel-budgetContent .x-grid-cell-inner, #gridpanel-msgreport .x-grid-cell-inner,
#gridpanel-businessInfoForSignBusiness .x-grid-cell-inner, #gridpanel-buildingMgm .x-grid-cell-inner,
#gridpanel-clientInfo .x-grid-cell-inner, .gridpanel-announcementComment .x-grid-cell-inner,
#gridpanel-projectcategory .x-grid-cell-inner, #gridpanel-projectProgressForProjectProgress .x-grid-cell-inner,
.gridpanel-editprogress .x-grid-cell-inner, #gridpanel-detailedAddressForSignBusiness .x-grid-cell-inner,
#gridpanel-buildingMgm .x-grid-cell-inner {
  white-space: normal;
  word-wrap: break-word;
}

#gridpanel-receivedBox .x-grid-cell-inner, #gridpanel-sentBox .x-grid-cell-inner {
  cursor: pointer;
}

#chartContainer {
  min-width: 310px; 
  height: 400px; 
  max-width: 600px; 
  margin: 0 auto;
}

.pointerCursor {
  cursor: pointer;
}

#treepanel-generalList .x-tree-node-text {
  font-size: 13px;
  font-family: 微软雅黑;
}

/* for action column icon image change */
.x-action-col-cell img.icon-mail-read {
    cursor: auto;
    background-image: url("../img/mail-read.png");
}
.x-action-col-cell img.icon-mail-unread {
  cursor: pointer;
    background-image: url("../img/mail-unread.png");
}
.x-action-col-cell img.icon-mail-multiple-receiver {
  cursor: auto;
    background-image: url("../img/multiple-receiver-mail.png");
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.blinkNode {
    -webkit-animation: blink 1s infinite; /* Safari 4+ */
    -moz-animation:    blink 1s infinite; /* Fx 5+ */
    -o-animation:      blink 1s infinite; /* Opera 12+ */
    animation:         blink 1s infinite; /* IE 10+, Fx 29+ */
}

#panel-thisWeekStar .x-field-label-cell, #panel-thisWeekStar .x-form-display-field-body {
  vertical-align: middle;
}

#panel-thisWeekStar .x-field-label-cell label, #panel-thisWeekStar .x-form-display-field-body div {
  font-size: 20px;
}

.visibilityHidden {
  visibility: hidden;
}

.footnote {
    font-size: 9px;
    color: #009688;
}

/*html { 
  -webkit-filter: grayscale(100%); 
  -moz-filter: grayscale(100%); 
  -ms-filter: grayscale(100%); 
  -o-filter: grayscale(100%); 
  filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1); 
  _filter:none; 
} */