$toolbar-footer-background-color: transparent !default;

$button-default-background-color: transparent !default;
$button-default-border-color: #c0c0c0 !default;
$button-default-border-color-focus: #157FCC !default;
$button-default-border-color-over: #157FCC !default;
$button-default-border-color-disabled: #c0c0c0 !default;

$button-small-font-weight: normal !default;
$button-small-background-color-over: transparent !default;
$button-default-color: #000;

$button-default-base-color: #ccc !default;
$button-default-base-color-over: transparent !default;
$button-default-base-color-pressed: transparent !default;
$button-default-border-color: #157FCC !default;

$button-default-color: #000 !default;


$button-toolbar-border-color: #c0c0c0 !default;